.listTask {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.header {
  font-weight: 700;
  color: var(--blue);
  width: 46rem;
  display: flex;
  justify-content: space-between;
}

.header p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
}

.header p span {
  padding-inline: 0.5rem;
  /* padding-block: 0.125rem; */
  border-radius: 062.4375rem;
  background-color: var(--gray400);
  color: var(--gray200);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46rem;

  border-top: 1px solid var(--gray400);
  border-radius: 0.5rem;
  padding-top: 4rem;
}

.details img {
  width: 3.5rem;
  margin-bottom: 1rem;
}
